*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

header {
	margin: 30px;
}
ul {
	list-style-type: none;
	text-align: right;
	word-spacing: 10px;

}
li {
	display: inline;
	color: rgb(102,102,102);
	
}

footer .left {
	float: left;
	padding: 10px;
}

footer .right {
	float: right;
	padding: 10px;
	
}


.main-part {
	text-align: center;
	margin: 0 auto;
}

input[type="text"] {
	width: 600px;
	padding: 3px;
	margin-bottom: 20px;
}

input[type="submit"] {
	border: none;
	width: 160px;
	height: 50px;
	margin-left: 10px;
	text-align: center;
}

a {
	text-decoration: none;
}

a:visited {
	color: rgb(102,102,102);
}


form {
	margin: 20px;
	text-align: center;
}

footer {
	background-color: #F5F5F5;
	/*border: 1px solid red;*/
	position: absolute;
	bottom: 0;
	font-size: 14px;
	height: 50px;
	width: 100%;
	padding: 20px; 
}